@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defaults */

body {
  @apply font-serif;
}

/* Used to display a child on hover of the parent with pure css */

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover .hover-target {
  display: flex;
}

.image:hover {
  filter: brightness(75%);
}
