@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-noto;
    @apply text-gray-700;
  }

  img {
    @apply object-contain;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-2xl;
    @apply italic;
    @apply text-gray-600;
  }

  h3 {
    @apply text-lg;
    @apply text-gray-500;
  }

  p {
    @apply text-lg;
  }
}

/* Used to display a child on hover of the parent with pure css */

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover .hover-target {
  display: flex;
}

.image:hover {
  filter: brightness(75%);
}
