@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-noto;
    @apply text-gray-700;
    @apply overflow-x-hidden;
  }

  img {
    @apply object-contain;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
    @apply italic;
    @apply text-gray-600;
  }

  h5 {
    @apply text-lg;
    @apply text-gray-500;
  }

  p {
    @apply text-lg;
    @apply mb-8;
    @apply leading-relaxed;
  }

  small {
    @apply text-sm;
  }

  strong {
    @apply font-medium;
  }

  hr {
    @apply border-t-2;
    @apply border-gray-300;
  }

  /** laptop breakpoints */
  @media (max-width: 1024px) {
    h1 {
      @apply text-5xl;
    }
    h3 {
      @apply text-xl;
    }
    h5 {
      @apply text-base;
    }
    p {
      @apply text-base;
    }
  }

  /** tablet breakpoints */
  @media (max-width: 640px) {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h5 {
      @apply text-base;
    }
    p {
      @apply text-base;
    }
  }
}

/* Used to display a child on hover of the parent with pure css */

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover .hover-target {
  display: flex;
}

.header-logo:hover {
  filter: brightness(75%);
}

.arrow:before {
  content: "";
  position: absolute;
  top: calc(1rem - 5px);
  right: calc(50% - 2.5px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

/* Button styles, move to css module when working */

.button {
  position: relative;
  transition: all 0.35s;
  z-index: 1;
}

.button:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(107, 114, 128, var(--tw-border-opacity));
  transition: all 0.35s;
  z-index: -1;
}

.button:hover:after {
  height: 100%;
}

.button:hover {
  color: #fff;
}

.button-reverse {
  position: relative;
  transition: all 0.35s;
  z-index: 1;
}

.button-reverse:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: white;
  transition: all 0.35s;
  z-index: -1;
}

.button-reverse:hover:after {
  height: 100%;
}

.button-reverse:hover {
  color: rgba(107, 114, 128, var(--tw-border-opacity));
}

/* Icon Button styles */
.circle-small {
  height: 25px;
  width: 25px;
}

.circle-medium {
  height: 50px;
  width: 50px;
}

.circle-large {
  height: 75px;
  width: 75px;
}

.circle-white {
  border-radius: 50%;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.circle-white:after,
.circle-white:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  transform: rotate(45deg);
}

.circle-white:hover:before {
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: border-top-color 0s linear 0s, border-right-color 0s linear 0.15s,
    border-bottom-color 0s linear 0.3s, border-left-color 0s linear 0.45s;
}

.circle-white:hover:after {
  border-top-color: #fff;
  transform: rotate(360deg);
  transition: transform 0.6s linear 0s;
}

.circle-gray {
  border-radius: 50%;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(107, 114, 128);
}

.circle-gray:after,
.circle-gray:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  transform: rotate(45deg);
}

.circle-gray:hover:before {
  border-top-color: rgba(107, 114, 128, var(--tw-text-opacity));
  border-right-color: rgba(107, 114, 128, var(--tw-text-opacity));
  border-bottom-color: rgba(107, 114, 128, var(--tw-text-opacity));
  border-left-color: rgba(107, 114, 128, var(--tw-text-opacity));
  transition: border-top-color 0s linear 0s, border-right-color 0s linear 0.15s,
    border-bottom-color 0s linear 0.3s, border-left-color 0s linear 0.45s;
}

.circle-gray:hover:after {
  border-top-color: rgba(107, 114, 128, var(--tw-text-opacity));
  transform: rotate(360deg);
  transition: transform 0.6s linear 0s;
}

/* Carousel */
.carousel-icon {
  transition: fill 0.3s ease-in-out;
}

.carousel-icon:hover {
  fill: rgba(255, 255, 255, 0.5);
}

/* BookLink */
.book-link:hover img {
  transform: scale(1.05);
}

/* BookSection */
.text-column-2 {
  column-count: 1;
  column-gap: 2rem;
  @media screen and (min-width: 1024px) {
    column-count: 2;
  }
}

/* Section */
.section:last-of-type {
  @apply pb-8;
  @media screen and (min-width: 768px) {
    @apply pb-12;
  }
}

/* Progressive Image */
.progressive-image-blur {
  filter: blur(1);
}

/** Timeline */
.timeline-circle {
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  fill: rgba(209, 213, 219, var(--tw-text-opacity));
}

/* Animations */
.fade-in {
  animation: fade 0.3s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
